services:

  php:
    build: .
    container_name: guvi_php
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      mongo:
        condition: service_started

  mysql:
    image: mysql:8.0
    container_name: guvi_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: guvi_user_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: guvi_redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:latest
    container_name: guvi_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: guvi_phpmyadmin
    ports:
      - "9000:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql

volumes:
  mysql_data:
  mongo_data: